{%extends 'base.html'%}
{% load bootstrap3 %}
{% load static %}
{% load ratings %}


{{ block.super}}
{% block styles %}
<link rel="stylesheet" href="{% static 'star-ratings/css/star-ratings.css' %}">
<script type="text/javascript" src="{% static 'star-ratings/js/dist/star-ratings.min.js' %}"></script>


  {% endblock %}


{% block content %}
<!-- Landing Page -->
<div class="banner">
    <div class="cover">
        <div class="container image">
            <h2 id="category">Project Rating App</h2>
        
        </div>
    </div>
</div>
<div class="container-fluid" style='background-color: blanchedalmond;'>
    <div class="row">
      {%for project in projects %}
        <div class="card m-4" style="width: 22rem;">
          <img class="card-img-top" src="{{project.image.url}}" alt="Card image cap">
          <div class="card-body" style='background-color: rgb(205, 213, 255);' >
            <h5 class="card-title" style="font-family: 'Sail', cursive;
            font-family: 'Vast Shadow', cursive;"><b>Project Name :</b>{{project.project_name}}</h5>
            <p class="card-text"><b>Project Description :</b><br>{{project.description}}</p>
            <p class="card-text"><b>Project Author :</b><br>{{profile.authror}}</p>
            <a href="{{project.livesite}}" target="_blank" class="btn btn-info">View Site</a>
            {% ratings object %}
          </div>
        </div>
      {%endfor%}
    </div>
  </div>
{%endblock%}